*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    height: 100vh;
    font-family: 'Poppins';
    background: rgb(24,24,24);
}

body {
    overflow-x: hidden;
}

.webgl
{
    position: absolute;
    top: 0;
    left: 0;
    outline: none;
    mix-blend-mode: exclusion;
}

.container {
    height: 100vh;
    display: grid;
    place-items: center;
}

h1 {
    font-size: 8rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Traveler', sans-serif;
}

h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: white;
    font-family: 'Traveler', sans-serif;
}

.signature {
    position: fixed;
    padding-right: 25px;
    padding-bottom: 12px;
    bottom: 0;
    right: 0;
}

/* TO SCROLL DOWN */
/* section {height: 100vh;} */

@font-face {
	font-family: "Traveler";
	src: url("fonts/Traveler.ttf") format("truetype");
}